*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}

:root {
    --lightgray: #f0f0f0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--lightgray);
}

svg {
    position: relative;
    top: 2px;
    z-index: 0;
}

.nav-link {
    font-size: 1.5rem;
}

.nav-link:hover {
    background-color: #45567d;
}

.link {
    text-decoration: none;
    color: var(--lightgray);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.section-title {
    color: var(--lightgray);
    font-size: 2.25rem;
    border-bottom: 1px solid var(--lightgray);
    padding: 5px 40px;
    margin: auto auto 50px auto;
    width: max-content;
}

.project-tile {
    background-color: #303841;
    border-radius: 8px;
    width: 350px;
    height: 300px;
}

.project-img {
    width: 100%;
    height: 80%;
}

.project-title {
    font-size: 1.2rem;
    padding: 15px;
    text-align: center;
}

.current-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    gap: 50px;
}

.current-content-tile{
    display: flex;
    width: 480px;
    height: 480px;
    align-items: center;
    justify-content: center;
}

.current-text{
    position: absolute;
    max-width: 240px;
    color: black;
    text-align: center;
    pointer-events: none;
    font-size: 1.25rem;
    opacity: 0;
}

.bt-text{
    animation: hide 1s ease-out;
    opacity: 0;
}

.js-text{
    animation: hide 1s ease-out;
    opacity: 0;
}

.socials-links {
    padding-right: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

#header {
    width: 100%;
    height: 68px;
    background-color: #be1344;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    z-index: 1;
}

#navbar{
    overflow: hidden;
}

#nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    height: 100%;
    margin-right: 20px;
}

#about {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #3a3d40, #1d1d1f);
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-section {
    text-align: center;
}

#greed {
    font-size: 3rem;
    color: var(--lightgray);
    margin-bottom: 15px;
}

#subtitle {
    font-size: 1.5rem;
    font-style: italic;
    color: #a12955;
}

#projects {
    background-color: #45567d;
    min-height: 100vh;
    text-align: center;
    padding-top: 75px;
}

.project-grid {
    display: grid;
    place-items: center;
    margin: 0 auto;
}

#current{
    min-height: 100vh;
    background-color: #50457D;
    padding-top: 75px;
}

#bootstrap{
    width: 300px;
    height: 300px;
    filter: none;
    transition: filter 1s ease-in-out;
}

#bootstrap:is(:hover, :focus){
    mix-blend-mode: normal;
    filter: blur(30px);
}

#bootstrap:is(:hover, :focus) + .bt-text{
    animation: visible 1s ease-in;
    animation-fill-mode: forwards;
}

#javascript-logo{
    width: 300px;
    height: 300px;
    filter: none;
    transition: filter 1s ease-in-out;
}

#javascript-logo:is(:hover, :focus){
    mix-blend-mode: normal;
    filter: blur(30px);
}


#javascript-logo:is(:hover, :focus) + .js-text{
    animation: visible 1s ease-in;
    animation-fill-mode: forwards;
}

#contact {
    width: 100vw;
    text-align: center;
    color: var(--lightgray);
    background-color: #3a3d40;
    height: calc(100vh - 168px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#together {
    font-size: 3.5rem;
    padding-top: 25px;
    padding-bottom: 25px;
}

#socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#socials-list {
    display: flex;
    flex-direction: row;
}

#fem-profile-link{
    width: 40px;
}

#footer {
    background-color: #3a3d40;
    border-top: 5px solid #be1344;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

@keyframes visible {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes hide {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width: 600px) {
    .project-tile {
        margin-bottom: 50px;
    }

    .section-title{
        max-width: 80%;
        white-space: normal;
        word-wrap: break-word;
    }

    #nav-list{
        width: 100%;
    }

    #greed{
        max-width: 80%;
        margin: 0 auto;
    }

    .project-grid {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .project-tile {
        margin-bottom: 50px;
    }

    .project-grid {
        width: 90%;
        max-width: 600px;
    }

    .current-content-wrapper {
        padding-top: 0;
        gap: 0;
    }
}

@media (min-width: 600px) {
    .project-tile {
        margin-bottom: 50px;
    }

    .project-grid {
        width: 90%;
        max-width: 600px;
    }

    .current-content-wrapper {
        padding-top: 0;
        gap: 0;
    }
}

@media (min-width: 800px) {
    .project-tile {
        margin-left: 25px;
        margin-bottom: 25px;
    }

    .project-grid {
        grid-template-columns: 1fr 1fr;
        max-width: 800px;
    }
}

@media (min-width: 1300px){
    .project-tile {
        width: 325px;
        height: 300px;
    }

    .project-grid {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1100px;
    }
}